.recipe-card {
    margin-bottom: 30px;
    min-height: 525px;

}

.recipe-card:hover {
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.recipe-card__buttons {
    /* position: absolute;
    bottom: 20px; */
}

.recipe-card__favourite {
    margin-right: 20px;
}

.recipe-card__icon {
    width: 14%;
    margin-right: 20px;
}

.block {
    padding: 15px 0;
}