.recipe-card {
    margin-bottom: 30px;
    height: 525px;

}

.recipe-card:hover {
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.recipe-card__buttons {
    display: flex;
    justify-content: space-between;
}



.recipe-card__icon {
    width: 15%;
}



.block {
    padding: 15px 0;
}