.header {
    background-color: orange;
    height: 10vh;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    height: 10vh;
}

.header p {
    margin-bottom: 0;
}

.nav {
    display: flex;
}

.nav-item + .nav-item {
    margin-left: 10px;
}

