.search-input {
    width: 100%;
    align-self: center;
    height: 40px;
    border-radius: 5px;
    border: 1px solid orange;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
    animation-name: animated-width;
    animation-duration: 3s;
}

@keyframes animated-width {
    from {width: 0;}
    to {width: 100%;}
  }